SOLR_COLLECTION=words
SOLR_HOST=localhost
SOLR_PORT=8983
SOLR_IMPORT_BATCHSIZE=5000
SOLR_SHARDS=1
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=corpora
FULL_IMPORT_QUERY="select * from documents"
FULL_IMPORT_COUNT_QUERY="select count(*) as c from documents"
DELTA_IMPORT_QUERY=""
DELTA_IMPORT_COUNT_QUERY=""
DELTA_IMPORT_TIMEZONE=Asia/Kolkata
DELTA_IMPORT_QUERY_ITEM_KEY=timelineId
DATA_FORMAT_TYPE=word
